html, body {
  margin: 0;
  font-family: 'Karla', sans-serif;
}

.slide {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.slide.intro {
  background: #f5f5f5;
  color: #101010;
}

.slide.form {
  color: #f5f5f5;
  background: #101010;
  display: none;
}

.intro .content {
  padding: 40px;
}

.intro .avatar {
  width: 128px;
  height: 128px;
  margin-bottom: 10px;
  border-radius: 100%;
  border: 5px solid white;
  -webkit-box-shadow: 2px 2px 15px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 15px -6px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 15px -6px rgba(0,0,0,0.75);
}

.intro p {
  margin: 0;
  font-size: 30px;
}

.intro p.hey {
  font-size: 50px;
  margin-bottom: 15px;
  font-weight: 800;
}

.intro a {
  text-decoration: none;
  color: #101010;
  border-bottom: 1px solid #101010;
  line-height: 1.38;
  display: inline-block;
  -webkit-transition: all .2s cubic-bezier(.25,.8,.25,1);
  transition: all .2s cubic-bezier(.25,.8,.25,1);
}

.intro a:hover {
  border-color: hsla(0,0%,6%,.33);
}

.intro a.button {
  outline: none;
  border: 2px solid #101010;
  padding: 15px 25px;
  font-size: 20px;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 40px;
  background: #f5f5f5;
}

.intro a.button:hover {
  transform: scale(1.05);
}

.form form {
  padding: 40px;
  width: 100%;
}

.form input, .form textarea {
  background: none;
  outline: none;
  color: #f5f5f5;
  border: none;
  border-bottom: 1px solid #f5f5f5;
  font-size: 30px;
  padding: 10px 0;
  width: 90%;
  max-width: 500px;
  display: block;
  margin-bottom: 15px;
  font-family: 'Karla', sans-serif;
  resize: none;
}

.form textarea {
  height: 110px;
}

::-webkit-input-placeholder {
  color: #f5f5f58f;
  font-weight: 100;
}

.form #submit-form {
  outline: none;
  border: 2px solid #f5f5f5;
  color: #f5f5f5;
  padding: 15px 25px;
  font-size: 20px;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 40px;
  background: #101010;
}

.form #submit-form:hover {
  transform: scale(1.05);
}

.form .success {
  font-size: 50px;
  margin-bottom: 15px;
  font-weight: 800;
}
